.section-title {
    margin-bottom: 10px;
    position: relative;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 10px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2eca7f;
    line-height: 30px;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #2eca7f;
    margin: 4px 10px;
}
.section-title p {
    width: 60%;
    margin: 0;
    font-size: 42px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 46px;
    color: #1a2d62;
}
@media only screen and (max-width: 480px) {
    .section-title p {
        width: 100%;
        font-size: 24px;
    }
}
h1.section-title-white {
    color: #fff;
}
p.section-title-white {
    color: #fff;
}
.section-title-two {
    margin-bottom: 60px;
}
.section-title-two h2 {
    font-weight: 800;
    font-size: 50px;
    text-align: center;
}
.section-title-two h2 span {
    color: #2eca7f;
}
.single_tca {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}
.single_tca img,
.single_tca i {
    /* float: left; */
    /* margin-right: 20px; */
}
.single_tca h2 {
    overflow: hidden;
}
.single_tca h2 a {
    color: #1a2d62;

    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 10px;
    display: block;
}
.single_tca span {
    color: #2eca7f;
    font-size: 18px;
    font-weight: 600;
}
.will_hide_div h2{
    font-family: "Red Hat Display", sans-serif;
}
