.main-menu ul li ul li a {
    color: #1a2d62;
    display: block;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 7px 12px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s !important;
    -o-transition: all 0.3s ease 0s !important;
    transition: all 0.3s ease 0s !important;
    visibility: inherit !important;
    opacity: inherit !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=NaN)";
}
/*START SCROLL TO TOP*/
.topcontrol {
    background: #2eca7f;
    border-radius: 30px;
    bottom: 5px;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    height: 50px;
    line-height: 47px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: fixed;
    right: 5px;
    text-align: center;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 50px;
    margin: 20px;
}
@media only screen and (max-width: 768px) {
    .topcontrol {
        display: none;
    }
}
.topcontrol:hover {
    background: #2eca7f;
    color: #fff;
}
/*END SCROLL TO TOP*/
.section-padding {
    padding: 40px 0;
}
