/*  */
.home_content h1 .color-header-text {
    color: #2eca7f;
}

.home_content {
    position: relative;
}
.home_content h1 {
    font-size: 80px;
    /* font-weight: 700; */
    line-height: 100px;
    /* margin-bottom: 20px; */
    font-family: "Red Hat Display", sans-serif;
}

@media only screen and (max-width: 1024px) {
    .home_content h1 {
        font-size: 60px;
        line-height: 70px;
    }
}

@media only screen and (max-width: 960px) {
    .home_content h1 {
        font-size: 60px;
        line-height: 70px;
    }
}
@media only screen and (max-width: 764px) {
    .home_content h1 {
        font-size: 30px;
        line-height: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .home_content h1 {
        font-size: 24px;
        line-height: 40px;
    }
}
.section-title h2{
    font-family: "Red Hat Display", sans-serif;
}
/*  */
