#bouncing-text span {
    display: inline-block;
    animation: bounce 1s ease infinite;
    animation-delay: calc(var(--index) * 0.5s);
    /* Offset animation timing */
    opacity: 0;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-10px);
    }

    75% {
        opacity: 0.8;
    }
}

#fading-text span {
    display: inline-block;
    opacity: 0;
    /* Start invisible */
    animation: fade-in-out 4s ease-in-out infinite;
    animation-delay: calc(var(--index) * 0.5s);
    /* Stagger animations */
}

/* Updated fade-in and fade-out keyframes */
@keyframes fade-in-out {
    0% {
        opacity: 0;
        /* Fully transparent */
    }

    20% {
        opacity: 1;
        /* Fade-in transition */
    }

    70% {
        opacity: 1;
        /* Stay fully visible */
    }

    85% {
        opacity: 0;
        /* Start fade-out */
    }

    100% {
        opacity: 0;
        /* Fully transparent */
    }
}

.bounce-up {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bounce-up:hover {
    transform: translateY(-10px);
    /* Move up by 10px */
    /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); Optional shadow for visual effect */
}

.home_content h1 .color-header-text {
    color: #2eca7f;
}

.home_content {
    position: relative;
}

@media only screen and (max-width: 768px) {
    .home_content {
        padding-left: 30px;
        padding-right: 20px;
    }
}

.home_content h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
    .home_content h1 {
        font-size: 60px;
        line-height: 70px;
    }
}

@media only screen and (max-width: 960px) {
    .home_content h1 {
        font-size: 60px;
        line-height: 70px;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Start invisible */
/* Start off-screen */
/* Smooth transition */
.home-banner-hero {
    opacity: 1;
    /* transform: translateX(100%); */
    /* transition: opacity 0.5s ease, transform 0.5s ease; */
}

/* Slide in animation */
.home-banner-hero.slide-in {
    /* animation: slideInFromRight 0.5s forwards; */
}

/* Slide out animation */
.home-banner-hero.slide-out {
    /* animation: slideOutToRight 0.5s forwards; */
}
.abmv {
    margin-bottom: 30px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #eee;
    transition: 0.3s;
}
.abmv:hover {
    border-left: 4px solid #2eca7f;
}
.abmv span {
    background: rgba(46, 202, 127, 0.2);
    float: left;
    margin-right: 20px;
    display: block;
    width: 70px;
    height: 70px;
    color: #2eca7f;
    line-height: 70px;
    text-align: center;
    font-size: 26px;
    border-radius: 100px;
}
.abmv h4 {
    font-weight: 800;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 22px;
}
.abmv p {
    overflow: hidden;
}
.count-box {
    display: flex;
    align-items: center;
    padding: 25px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    border: 1px solid #ededed;
}
.count-box i {
    font-size: 42px;
    line-height: 0;
    margin-right: 15px;
    color: #4154f1;
}
.count-box span {
    font-size: 36px;
    display: block;
    color: #1a2d62;
    font-weight: 700;
}

.count-box p {
    padding: 0;
    margin-top: 5px;
}
