#bouncing-text span {
    display: inline-block;
    animation: bounce 1s ease infinite;
    animation-delay: calc(var(--index) * 0.5s);
    /* Offset animation timing */
    opacity: 0;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-10px);
    }

    75% {
        opacity: 0.8;
    }
}

#fading-text span {
    display: inline-block;
    opacity: 0;
    /* Start invisible */
    animation: fade-in-out 4s ease-in-out infinite;
    animation-delay: calc(var(--index) * 0.5s);
    /* Stagger animations */
}

/* Updated fade-in and fade-out keyframes */
@keyframes fade-in-out {
    0% {
        opacity: 0;
        /* Fully transparent */
    }

    20% {
        opacity: 1;
        /* Fade-in transition */
    }

    70% {
        opacity: 1;
        /* Stay fully visible */
    }

    85% {
        opacity: 0;
        /* Start fade-out */
    }

    100% {
        opacity: 0;
        /* Fully transparent */
    }
}

.bounce-up {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bounce-up:hover {
    transform: translateY(-10px);
    /* Move up by 10px */
    /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); Optional shadow for visual effect */
}

.home_content h1 .color-header-text {
    color: #2eca7f;
}

.home_content {
    position: relative;
}

@media only screen and (max-width: 768px) {
    .home_content {
        padding-left: 30px;
        padding-right: 20px;
    }
}

.home_content h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
    .home_content h1 {
        font-size: 60px;
        line-height: 70px;
    }
}

@media only screen and (max-width: 960px) {
    .home_content h1 {
        font-size: 60px;
        line-height: 70px;
    }
}
@media only screen and (max-width: 764px) {
    .home_content h1 {
        font-size: 30px;
        line-height: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .home_content h1 {
        font-size: 24px;
        line-height: 40px;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Start invisible */
/* Start off-screen */
/* Smooth transition */
.home-banner-hero {
    opacity: 1;
    /* transform: translateX(100%); */
    /* transition: opacity 0.5s ease, transform 0.5s ease; */
}

/* Slide in animation */
.home-banner-hero.slide-in {
    /* animation: slideInFromRight 0.5s forwards; */
}

/* Slide out animation */
.home-banner-hero.slide-out {
    /* animation: slideOutToRight 0.5s forwards; */
}
.abmv {
    margin-bottom: 30px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #eee;
    transition: 0.3s;
}
.abmv:hover {
    border-left: 4px solid #2eca7f;
}
.abmv span {
    background: rgba(46, 202, 127, 0.2);
    float: left;
    margin-right: 20px;
    display: block;
    width: 70px;
    height: 70px;
    color: #2eca7f;
    line-height: 70px;
    text-align: center;
    font-size: 26px;
    border-radius: 100px;
}
.abmv h4 {
    font-weight: 800;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 22px;
}
.abmv p {
    overflow: hidden;
}
.count-box {
    display: flex;
    align-items: center;
    padding: 25px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    border: 1px solid #ededed;
}
.count-box i {
    font-size: 42px;
    line-height: 0;
    margin-right: 15px;
    color: #4154f1;
}
.count-box span {
    font-size: 36px;
    display: block;
    color: #1a2d62;
    font-weight: 700;
}

.count-box p {
    padding: 0;
    margin-top: 5px;
}

/*END PRELOADER DESIGN*/
.section-padding {
    padding: 40px 0;
}
.partner_title {
}
.partner_title h3 {
    font-size: 24px;
    font-weight: 700;
    background: rgba(46, 202, 127, 0.1);
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
    color: #2eca7f;
}
@media only screen and (max-width: 480px) {
    .partner_title h3 {
        font-size: 18px;
        width: 100%;
    }
}
.partner.owl-theme .owl-controls {
    display: none !important;
}
.topic_content_area {
    padding-bottom: 50px;
    background: url(../images/banner/topic.png);
    background-position: center;
    background-size: cover;
}
.section-title {
    margin-bottom: 60px;
    position: relative;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    margin: 0 0 10px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2eca7f;
    line-height: 30px;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #2eca7f;
    margin: 4px 10px;
}
.section-title p {
    width: 60%;
    margin: 0;
    font-size: 42px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 46px;
    color: #1a2d62;
}
@media only screen and (max-width: 480px) {
    .section-title p {
        width: 100%;
    }
}
h1.section-title-white {
    color: #fff;
}
p.section-title-white {
    color: #fff;
}
.section-title-two {
    margin-bottom: 60px;
}
.section-title-two h2 {
    font-weight: 800;
    font-size: 50px;
    text-align: center;
}
.section-title-two h2 span {
    color: #2eca7f;
}
.single_tca {
    background: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}
.single_tca img,
.single_tca i {
    float: left;
    margin-right: 20px;
}
.single_tca h2 {
    overflow: hidden;
}
.single_tca h2 a {
    color: #1a2d62;
    font-size: 24px;
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 10px;
    display: block;
}
.single_tca span {
    color: #2eca7f;
    font-size: 18px;
    font-weight: 600;
}
.event-slide {
    position: relative;
    background: #fff;
    /* border-radius: 3px; */
    margin-bottom: 30px;
    transition: 0.3s;
    border: 1px solid #eee;
}
.es {
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-bottom: 30px;
    padding: 30px;
    transition: 0.3s;
}

.es:hover {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.06);
}
@media only screen and (max-width: 480px) {
    .event-slide {
        margin-bottom: 30px;
    }
}
.event-slide-page {
    margin: 0px 0px;
    margin-bottom: 30px;
}
.event-slide .event-img {
    position: relative;
    overflow: hidden;
}
.event-slide .event-img img {
    width: 100%;
    height: auto;
}
.event-slide .event-date {
    position: absolute;
    top: 10%;
    left: 4%;
}
.event-slide .date {
    display: inline-block;
    border-radius: 3px 0 0 3px;
    padding: 5px 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background: #1a2d62;
    float: left;
}
.event-slide .month {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    padding: 5px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    background: #2eca7f;
}
.event-slide .event-content {
    padding: 30px;
}
.event-content.ec_pd {
    padding: 0;
    border: 0;
    margin-top: 30px;
}
.event-content h3 a {
    color: #1a2d62;
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 15px 0;
    text-transform: capitalize;
    display: block;
    line-height: 30px;
    transition: 0.3s;
}
.event-content h3 a:hover {
    color: #2eca7f;
}
.event-slide .event-content span i {
    color: #2eca7f;
    margin-right: 8px;
}
.event-slide .event-content > span {
    color: #1a2d62;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 20px;
}
.event-slide .event-description {
    margin-bottom: 20px;
}
.single_blog {
    background: #fff;
    border-radius: 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 10px 15px 18px rgba(23, 23, 36, 0.03);
    box-shadow: 10px 15px 18px rgba(23, 23, 36, 0.03);
}
.single_blog img {
    width: 100%;
}
.content_box {
    padding: 35px;
}
.single_blog h2 {
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 15px;
}
.single_blog h2 a {
    color: #1a2d62;
    font-weight: 800;
    margin-bottom: 40px;
    display: block;
}
.single_blog h2 a:hover {
    color: #2eca7f;
}
.single_blog p {
    margin-bottom: 0px;
}
.single_blog span {
    text-transform: capitalize;
    margin-bottom: 10px;
    display: inline-block;
}
.single_blog span a {
    color: #2eca7f;
    font-weight: 700;
}
.single_blog span a:hover {
    color: #2eca7f;
}
.single_blog_two span {
    margin-top: 0px;
}
.single_blog_two p {
    margin-bottom: 30px;
}
/*START SCROLL TO TOP*/
.topcontrol {
    background: #2eca7f;
    border-radius: 30px;
    bottom: 5px;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    height: 50px;
    line-height: 47px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: fixed;
    right: 5px;
    text-align: center;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 50px;
    margin: 20px;
}
@media only screen and (max-width: 768px) {
    .topcontrol {
        display: none;
    }
}
.topcontrol:hover {
    background: #2eca7f;
    color: #fff;
}
/*END SCROLL TO TOP*/
